<h1>Rooms List</h1>

          <table class="table table-dark table-hover">
                    <thead>
                      <tr>
                        <th>Id </th>
                        <th>Single </th>
                        <th>double </th>
                        <th>triple </th>
                        <th>suite</th>
                        <th>Show</th>
                        <th>Edit</th>
                        <th> delete</th>
                      </tr>
                    </thead>
                    <tbody>
                       <% @rooms.each do |room| %>
                      <tr class="">
                        <td>
                       <%= room.id %>
                        </td>
                        <td>
                        <%= room.single %>
                        </td>
                        <td>
                        <%= room.double %>
                        </td>
                        <td>
                        <%= room.triple %>
                        </td>
                        <td>
                          <%= room.suite %>
                        </td>
                         <td>
                          <%= link_to 'Show', room, class:"btn btn-success" %>
                        </td>
                         <td>
                        <%= link_to 'Edit', edit_room_path(room), class:"btn btn-warning" %>
                        </td>
                         <td>
                          <%= link_to 'Destroy', room, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>

        <br>
<span>
 <%= link_to 'New Room', new_room_path, class:"btn btn-primary" %>
</span>
       
        <br> <br>
        
        