<p id="notice"><%= notice %></p>

<p>
  <strong>Payments:</strong>
  <%= @controller.payments %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @controller.customer %>
</p>

<p>
  <strong>Name:</strong>
  <%= @controller.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @controller.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @controller.email %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @controller.cash %>
</p>

<p>
  <strong>Visa:</strong>
  <%= @controller.visa %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @controller.card_number %>
</p>

<p>
  <strong>Business trip:</strong>
  <%= @controller.business_trip %>
</p>

<p>
  <strong>Leisure trip:</strong>
  <%= @controller.leisure_trip %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @controller.boolean %>
</p>

<%= link_to 'Edit', edit_controller_path(@controller) %> |
<%= link_to 'Back', controllers_path %>
